body {
}

.ui.container {
    width: 100%;
    height: 100%;
}

.container {
    background-color: #252525;
}

.menubar {
    height: 55px;
    background-color: teal;
}

.menubar .ui.button, p {
    float: right;
    padding: 1%;
}

.projectbar {
    float: left;
    margin: 1% auto;
    width: 20%;
}

.projectbar .ui.button {
    margin: 0 0 0 3%;
    display: block;
    width: 10%;
    float: left;
    padding: 2%;
}

.projectbar .ui.button i.icon{

}

.content {
    padding-top: 2%;
}

.ui.modal {
    width: 300px;
    height: 200px;
    padding: 5%;
}

.ui.modal .button {
    display: block;
    margin: 10% auto;
    width: auto;
}

.project-list {
    margin: 5% 10%;
}

.track-view {
    margin: 0 auto;
    width: 70%;
}

.player {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: grey;
}

.play-button-group {
    float: left;
}

.save-button-group {
    float: right;
}

.track-tool {
    margin: 5% auto;
    background-color: white;
    width: 80%;
}
