body {
}

.ui.container {
    width: 100%;
    height: 100%;
}

.container {
    background-color: #262626;
}

.menubar {
    height: 55px;
    background-color: teal;
}

.user-info-bar {
    float: right;
}

.user-info-bar .ui.button, p {
    padding: 1%;
}

.projectbar {
    float: left;
    margin: 1% auto;
    width: 20%;
}

.projectbar .ui.button {
    margin: 0 0 0 3%;
    display: block;
    width: 10%;
    float: left;
    padding: 2%;
}

.projectbar .ui.button i.icon{

}

.content {
    padding-top: 2%;
}

.ui.modal.user-registration {
    width: 300px;
    height: 200px;
    padding: 5%;
}

.ui.modal.user-registration .button {
    display: block;
    margin: 10% auto;
    width: auto;
}

.project-list {
    margin: 1% 10%;
}

.project-list h1 {
    color: white;
    margin-bottom: 2%;
}

.project-list .circular.ui.icon.button {
    margin-top: 2%;
}

.track-view {
    margin: 0 auto;
    width: 70%;
}

.player {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #626262;
}

.play-button-group {
    float: left;
}

.save-button-group {
    float: right;
}

.track-tool-view {
    margin: 5% auto;
    background-color: white;
    width: 80%;
}

.instrument-view {
    width: 90%;
    height: 128px;
    margin-top: 1%;
    background-color: grey;
}

.wave-form {
    float: right;
    width: 90%;
    background-color: #767676;
}

.instrument-view, h4 {
    color: white;
    margin: 0;
}

.ui.modal.track-tool {
    width: 30%;
    height: 20%;
    min-width: 400px;
    min-height: 100px;
    padding: 5%;
}

.ui.modal.track-tool .ui.button {
    float: left;
    margin: auto 2%;
}

.ui.modal.track-tool.h5 {
    display: block;
    margin: 0 auto;
}

.project-component-view h1 {
    color: white;
}

.circular.ui.icon.button.add {
    margin-top: 2%;
}
