<h1>index html</h1>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Tone.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/requests.js' %}"></script>-->

<script type="text/javascript" src="{% static 'js/binary_transport.js' %}"></script>

<script type="text/javascript" src="{% static 'js/test.js' %}"></script>


<script>
	//test.project_data();
	test.merger();
	//test.projects_data();
</script>

